{% extends 'general/sidebar.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block nextto_sidebar %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static "js/realtime_graph.js" %}"></script>
    <script src="{% static "js/health.js" %}"></script>

{#    {% for s in sensors %}#}
{#        <h5>{{ s.building_id }} Sensor {{ s.id }}</h5>#}
{#    {% endfor %}#}
    <div id="debugging"></div>
    <div class="col-md-2">
        </br></br>
        <div class="panel text-center" id="health"
             style="background-color: limegreen; color: white; font-size: 35px;">
            Healthy
        </div>
{#        <div class="panel text-center" style="background-color: darkred; color: white; font-size: 35px;">Unhealthy</div>#}
    </div>
    <div class="col-md-10">
        </br></br>
        <h4 class="panel-title">
            <div class="panel-heading" style="background:#337ab7; color:white">
                <h5 id="xcollapse" data-toggle="collapse" data-target="#real-time-chart-x" aria-expanded="false">
                   X chart
                </h5>
            </div>
        </h4>
        <div class="collapse in" aria-expanded="false" id="real-time-chart-x" style="border: 2px solid; height: 200px; min-width: 310px; margin: 0 auto"></div>
        </br>
        <h4 class="panel-title">
            <div class="panel-heading" style="background:#337ab7; color:white">
                <h5 id="ycollapse" data-toggle="collapse" data-target="#real-time-chart-y" aria-expanded="true" >
                   Y chart
                </h5>
            </div>
        </h4>
        <div class="collapse in" aria-expanded="true" id="real-time-chart-y" style="border: 2px solid; height: 200px; min-width: 310px; margin: 0 auto"></div>
        </br>
        <h4 class="panel-title">
            <div class="panel-heading" style="background:#337ab7; color:white">
                <h5 id="zcollapse" data-toggle="collapse" data-target="#real-time-chart-z" aria-expanded="true" >
                   Z chart
                </h5>
            </div>
        </h4>
        <div class="collapse in" aria-expanded="true" id="real-time-chart-z" style="border: 2px solid; height: 200px; min-width: 310px; margin: 0 auto"></div>
        </br></br>
    </div>
{% endblock %}