{% extends 'general/sidebar.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block nextto_sidebar %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static "js/general.js" %}"></script>

    <h2>{{curr_building.name}} - Sensors</h2>
    </br><hr />
     <div class="row" id="banner"></br></br>
        <div class="col-md-4 col-md-offset-1">
            <div class="table-responsive">
                 <table class="table table-bordered table-hover table-striped">
                 <caption>Registered Sensors</caption>
                    <thead>
                        <tr>
                            <th data-field="id">Sensor MAC Address</th>
                        </tr>
                    </thead>
                 <tbody>
                     {% if not sensors %}
                         <tr><td>No sensors registered.</td></tr>
                     {% else %}
                         {% for s in sensors %}
                            <tr><td>
                                {{ s.id }}
                                <span data-toggle="tooltip" data-placement="left" title="Tooltip on left"class="pull-right" href="">
                                    {% bootstrap_icon 'edit' %}
                                </span>
                            </td></tr>
                        {% endfor %}
                    {% endif %}
                 </tbody>
                </table>
            </div></br>
        </div>
         <div class="col-md-4 col-md-offset-1"></br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-error" id="alert-error">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form id="change_pass_form" method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="curr_pass">Add New Sensor</label>
                        <input type="text" class="form-control" name="curr_pass" placeholder="Enter sensor MAC address">
                    </div>
                    <button type="submit" class=" pull-right btn btn-success">Add Sensor</button>
                </form></br></br></br>
             </div>
         </div>
     </div>
{% endblock %}