{% load bootstrap3 %}
{% bootstrap_javascript %}
{% bootstrap_css %}

<html>
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css"/>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <body class="page-container" id="bgsplashcontainer">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 50px;
            }
        </style>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/iotshm/aboutiotshm/">IoT SHM</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="/iotshm/dashboard/">Home</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Welcome, {{ user.first_name|capfirst }}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/iotshm/logout/">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="/iotshm/">Home</a></li>
                            <li><a href="/iotshm/login/">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">{% block inside_headerfooter %}{% endblock %}</div>
    </body>
    <div align="center" class="navbar navbar-inverse navbar-fixed-bottom">
        </br><a align="left" href="/iotshm/contact/" style="color:white">Contact Us</a>
        <p style="display:inline; color:gray">   |   </p>
        <a align="right" href="/iotshm/aboutiotshm/" style="color:white">About IoT-SHM</a>
    </div>
</html>